a:link {
  color: red;
}

a:visited {
  color: peru;
}

h1 {
    color: orangered;
    font-family: Copperplate,fantasy;
    font-weight: bold;
    font-size: x-large;
}

h2 {
  color: tomato;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}

div {
  display:flex;
}

body {
    padding: 5%;
    margin: 5%;
    text-align: center;
    height: 100%;
    color: #FFFFFF;
    background: 50% 50% no-repeat;
    background-color: dimgrey;
}

section {
    margin: 5%;
    padding: 5%;
    text-align: left;
    height: 30%;
    width: 40%;
}

.leftBlock {
  background-color: maroon;
}
.rightBlock {
  background-color: sienna;
}

.rightBlock a:visited {
    color: aqua;
}

#goldtext {
  color: gold;
}
