a:link {
  color: green;
}

h1 {
    color: greenyellow;
}

h2 {
  color: palegreen;
}

body {
    padding: 5%;
    margin: 5%;
    text-align: center;
    height: 100%;
    color: #FFFFFF;
    background: 50% 50% no-repeat;
    background-color: darkolivegreen;
}

section {
    margin: 5%;
    padding: 5%;
    text-align: left;
    height: 30%;
    width: 80%;
    background-color: darkgreen;
}

area {
    height: 300px;
    width: 400px;
    align-content: center;
}
