a:link {
  color: gold;
}

body {
    padding: 5%;
    text-align: center;
    height: 100%;
    color: #FFFFFF;
    background: 50% 50% no-repeat;
    background-color: #9800e3;
}

section {
    padding: 20%;
    text-align: left;
    height: 30%;
    width: 30%;
    background-color: blue;
}
