a:link {
  color: green;
}

h1 {
    color: blue;
}

body {
    padding: 5%;
    margin: 5%;
    text-align: center;
    height: 100%;
    color: #FFFFFF;
    background: 50% 50% no-repeat;
    background-color: brown;
}

section {
    margin: 5%;
    padding: 20%;
    text-align: left;
    height: 30%;
    width: 20%;
    background-color: darkgreen;
}
