a:link {
  color: green;
}

h1 {
    color: greenyellow;
}

h2 {
  color: palegreen;
}

body {
    padding: 5%;
    margin: 5%;
    text-align: center;
    height: 100%;
    color: #FFFFFF;
    background: 50% 50% no-repeat;
    background-color: darkolivegreen;
}

article {
    margin: 5%;
    padding: 5%;
    text-align: left;
    height: 30%;
    width: 40%;
    background-color: darkgreen;
}

section {
  display:flex;
    margin: 5%;
    padding: 5%;
    text-align: left;
    height: 30%;
    width: 40%;
    background-color: darkgoldenrod;
}

area {
    align-content: center;
}
